/*
 * Hoja de estilos para personalizar los elementos
 */

html,body {margin:0px; height:100%;}
*{color:black}

a{color: blue;}
h1 .small, h1 small, h4 .small, h4 small{color:black;}

h1,h2
{
    text-align:center;   
}
.reborde{
    width: 300px;
    height:300px;
    color: #000;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

#Conocenos, #Software, #Proyectos, #Colaboraciones,  #Miembros, #Premios
{
    text-align:center;
    padding-left: 8%;
    padding-right: 8%;
    background-size: 100% 100%,  auto, auto;
    height:100%;
    overflow: hidden;
    background-size: 100% 100%,  auto, auto;
    background-attachment: fixed;
}


.centrame
{
     position: relative;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);     
} 
.table
{
    /*
    display: table;
    border-spacing: 5px;
    */
    text-align:center;
}
.row
{
    min-height:1px;
}
 



#Conocenos{
    background:#f4858e;
    padding-top:5%;
    padding-bottom:5%;
    z-index: 1;
}
#idConocenos
{
    background:#f4858e;
}

#Software, #idSoftware{
    background:#e8e3f0;
    z-index: 2;
}
#Software{
  padding-bottom:10px;
}
#drscratch, #drscratchPanel1, #drscratchPanel2, #FECyT, #FECyTPanel1, #FECyTPanel2, #FECyTPanel3 , #FECyTPanel4{
    background:#bfe2ca;
    padding-top:10px;
    padding-bottom:10px;
}
#gymkhana, #gymkhanaPanel, #e-Madrid, #e-MadridPanel {
    background:  #fed88f;
    padding-top:10px;
    padding-bottom:10px;
}
#gymkhanaPanel, #drscratchPanel1, #drscratchPanel2, #FECyTPanel1, #FECyTPanel2, #FECyTPanel3, #FECyTPanel4, #e-MadridPanel{
    padding-top:0px;
    padding-bottom:0px;
    display:none;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px; 
}

#Proyectos, #idProyectos{
    background:#a6daef;
    z-index: 3;
}


#Colaboraciones{
    background:#fff;
    padding-top:15px;
}

#idColaboraciones{
    background:#fff;
}
#Programamos, #Dojo, #INTEF, #CodeWeek, #ADIE, #UNIR{
     display: table-cell;
     height:40px
}
#Dojo{
    background:#f4858e;    
}
#INTEF{
    background: #bfe2ca;    
}
#CodeWeek{
    background:#d0e2ec;
}
#ADIE{
     background:  #fed88f;
}
#UNIR{
     background:  #eee ;
}
#Programamos{
    background:#a6daef;
}
#visor{
background:black;
height:300px;
border-bottom-right-radius:8px;
border-bottom-left-radius:8px; 
padding:10%;
}
#mensaje,#mensaje1{

background:black;
height:60px;
border-bottom-right-radius:8px;
border-bottom-left-radius:8px;
text-align:center;
}
#mensaje p, #mensaje1 p{
    color:white;
}

#textoCambiante{
color:white;
}
#Miembros
{
    text-align:left;
    background:  #fed88f ;
    display: inline-block;
    vertical-align:middle;
    padding-top:5px;
} 
#idMiembros
{
    background:  #fed88f;
}

#Miembros .media
{
    padding:9px;
}
#Miembros .dp
{
    border:10px solid orange;
    transition: all 0.2s ease-in-out;
}
#Miembros .dp:hover
{
    transform: scale(1.2,1.2);
}
#Miembros img
{
    width: 100px;
    height:100px
}


#Premios{
    background: #bfe2ca;
    padding-bottom:20%;
}
#idPremios{
    background: #bfe2ca;
}

@keyframes shake {
    0% { transform: translate(2px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(0px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% {transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% {transform: translate(2px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(2px, 2px) rotate(0deg); }
    100% {transform: translate(1px, -2px) rotate(-1deg); }
}
.icoshake:hover{
    animation-name: shake;
    animation-duration: 0.8s;
    transform-origin:50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.icoshake {
    display:inline-block
}